@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
    border: none;
    outline: none;
}

:root {
    --white: #FFFFFF;
    --bodyBackgroundColor: #D8D1CD;
    --purple: #3C096C;
    --lightPurple: #7B2CBF;
    --whiteGold: #F9F3D1;
    --fog: #C3BBB5;
    --green: #83E509;
}

body {
    width: 100vw;
    height: 100%;
    background-color: var(--bodyBackgroundColor);
    padding-top: 8rem;
    padding-bottom: 3rem;
    overflow: hidden;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
    background-color: var(--lightPurple);
    position: fixed;
    top: 0;
}

header>h1 {
    font-size: 4rem;
    color: var(--white);
}

header>button {
    height: fit-content;
    padding: 1rem;
    font-weight: bold;
    border-radius: 1rem;
    border: none;
    font-size: 1.2rem;
    background-color: var(--whiteGold);
    color: var(--purple);
    transition: 0.6s;
}

header>button:hover {
    background-color: var(--fog);
    cursor: pointer;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
    overflow-y: auto;
    height: calc(100vh - 8.2rem - 3rem);
}

#btnTodasTarefas {
    display: none;
}

#criarTarefaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: -1;
    display: none;
}

#criarTarefaContainer .formContainer {
    background: var(--white);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--purple);
    font-weight: bold;
    text-align: center;
}

#criarTarefaContainer .formContainer form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#criarTarefaContainer .formContainer .inputContainer {
    position: relative;
    width: 100%;
    margin-bottom: 0.8rem;
}

#criarTarefaContainer .formContainer .inputContainer input {
    background-color: transparent;
    border-bottom: solid 2px var(--purple);
    width: 100%;
}

#criarTarefaContainer .formContainer .inputContainer label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    color: var(--lightPurple);
    pointer-events: none;
    transition: 0.5s;
}

#criarTarefaContainer .formContainer .inputContainer #name:focus~label,
#name:valid~label {
    top: -0.8rem;
    left: 0;
    color: var(--purple);
    font-size: 0.8rem;
}

#criarTarefaContainer .formContainer .inputContainer #data {
    margin-top: 1.5rem;
}

#criarTarefaContainer .formContainer .inputContainer #data+label {
    position: static;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: var(--purple);
}

#criarTarefaContainer .formContainer textarea {
    width: 100%;
    height: 10rem;
    border-radius: 0.5rem;
    border: 2px solid var(--purple);
    padding: 0.5rem;
    resize: none;
    margin-top: 0.2rem;
}

#criarTarefaContainer .formContainer button {
    width: 90%;
    background-color: var(--purple);
    color: var(--white);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
    font-weight: bolder;
    transition: 0.3s;
    margin-bottom: 2rem;
}

#criarTarefaContainer .formContainer button:hover {
    background-color: var(--lightPurple);
}

textarea {
    width: 100%;
    height: 10rem;
    border-radius: 0.5rem;
    border: 2px solid var(--purple);
    padding: 0.5rem;
    resize: none;
    margin-top: 0.2rem;
}

.inputContainer>input {
    background-color: transparent;
    border-bottom: solid 2px var(--purple);
    width: 100%;
}

.inputContainer label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    color: var(--lightPurple);
    pointer-events: none;
    transition: 0.5s;
}

.inputContainer #name:focus~label,
#name:valid~label {
    top: -0.8rem;
    left: 0;
    color: var(--purple);
    font-size: 0.8rem;
}

.inputContainer #data {
    margin-top: 1.5rem;
}

.inputContainer #data+label {
    position: static;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: var(--purple);
}

.inputContainer {
    position: relative;
    width: 100%;
    margin-bottom: 0.8rem;
}

.card {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
    background-color: var(--whiteGold);
    box-shadow: 0px 0px 10px var(--purple);
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.1);
}

.card>h4 {
    align-self: flex-start;
}

.card>p {
    text-align: justify;
    text-indent: 1rem;
}

.marcarConcluidaContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

#marcarConcluida {
    width: 1.8rem;
    height: 1.8rem;
    appearance: none;
    border: 2px solid var(--purple);
    border-radius: 0.25rem;
    background-color: var(--white);
    cursor: pointer;
    position: relative;
}

#marcarConcluida:checked {
    background-color: var(--green);
}

#marcarConcluida:checked::after {
    content: '✔';
    color: var(--white);
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.marcarConcluidaContainer>label {
    font-size: 1.2rem;
    font-weight: bold;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    color: var(--white);
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
}